/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-dark: #111;
  --text-light: #f5f5f5;
  --text-muted: #777;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  --header-height: 56px;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  color: var(--text-dark);
  line-height: 1.6;

  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: 500;
  letter-spacing: 0.05em;
}

h1 {
  font-size: clamp(2rem, 6vw, 3.5rem);
}

h2 {
  font-size: clamp(1.6rem, 4vw, 2.5rem);
  margin-bottom: var(--space-md);
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 0.95rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1200px;
  width: 100%;
}

.herocard-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.herocard-image {
  display: block; /* Remove bottom whitespace - <img> elements are inline elements by default, so the browser reserves a bit of space below the image for text descenders (like g, p, y).
That extra inline space shows up as a thin white gap between stacked images. */
  width: 100%;
  height: auto;
  object-fit: cover;
}

.herocard-intro-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.herocard-container:hover .herocard-intro-overlay {
  transform: translateY(0);
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
    flex: none;
  }

  .herocard-container {
    height: 100%;
  }

  .herocard-image {
    position: relative;
    height: 100%;
    object-fit: cover;
  }
}

.about-me {
  position: absolute;
  inset: 0; /* FULL overlay */
  background: rgba(0, 0, 0, 0.55);
  color: white;
  z-index: 2;
}